*{
  margin: 0;
}

.header{
  background-image: url(../img/pattern.png);
  background-color: #4FA0FF;
  background-size: 30%;
}

.logo{
  width: 20%;
  height: 10%;
}

.articolo-monitor{
  background-image: url(../img/monitor.jpg);
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.articolo-grafico{
  background-image: url(../img/graph.jpg);
  width: 300px;
  height: 200px;
}